* {
    margin: 0;
    padding: 0;
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
}
.navbar {
    width: 100%;
    height: 60px;
    background-color: #FFFFFF;
    border: 1px solid blue;
}
.navbar1 {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    /* border: 1px solid blue; */
    height: 60px;
}
.navbar2 {
    width: 15%;
    padding-top: 14px;
    /* border: 1px solid red; */
    margin-right: 80px;
}
.navbar3 {
    width: 37%;
    display: flex;
    justify-content: space-between;
    /* border: 1px solid green; */
    padding-top: 25px;
    font-size: 11px;
    font-weight: 500;
}
.navbar3 > a {
    text-decoration-line: none;
    color: black;
}
.navbar3 > p:nth-child(4) {
    color: gray;
    font-weight: 500;
}
.navbar3 > p:nth-child(5) {
    color: gray;
    font-weight: 500;
}
.navbar3 > p:nth-child(6) {
    color: gray;
    font-weight: 500;
}
.navbar3 > p:nth-child(7) {
    color: red;
    font-weight: 500;
}
.navbar4 {
    width: 30%;
    /* border: 1px solid black; */
}
.navbar5 {
    display: flex;
    justify-content: space-between;
    font-size: 10px;
    color: gray;
    font-weight: 500;
    margin-top: 5px;
    margin-left: 40px;
}
.navbar5 > a {
    text-decoration-line: none;
    color: gray;
}
.navbar5 > p:nth-child(4) {
    font-size: 6px;
}
.navbar6 {
    display: flex;
    justify-content: space-between;
}
.navbar6 > div:nth-child(2) {
    margin-top: 10px;
    font-size: 15px;
}
.navbar6 > div:nth-child(3) {
    margin-top: 10px;
    font-size: 15px;
}
.navbar6 > div:nth-child(4) {
    margin-top: 10px;
    font-size: 15px;
    /* margin-right: 7px; */
}
.navbar6 > div:nth-child(2) > a{
    color: black;
}
.navbar6 > div:nth-child(4) > a {
    color: black;
}
.navbar7 {
    display: flex;
    justify-content: space-between;
    width: 170px;
    height: 25px;
    background-color: white;
    border: 1px solid black;
    margin-top: 10px;
}
.navbar7 > div:nth-child(1) {
    margin-top: 1px;
}
.navbar7 > div:nth-child(1) > input {
    border: none;
    outline: none;
    margin-left: 5px;
    margin-top: -20px;
    width: 140px;
    height: 20px;
}
.navbar7 > div:nth-child(1) > ::placeholder {
    background-color: white;
    font-size: 14px;
    font-weight: lighter;
}
.navbar7 > div:nth-child(2) > i {
    margin-top: 3px;
    margin-right: 30px;
}
.state {
    width: 170px;
}
.state > h1 {
    font-size: 18px;
    margin-top: 15px;
    padding-left: 40px;
}