.register {
    width: 100%;
}
.register1 {
    width: 30%;
    margin: auto;
    height: 730px;
    border: 1px solid black;
    margin-top: 30px;
    margin-bottom: 30px;
}
.register2 {
    width: 90%;
    margin: auto;
}
.reg-right {
    width: 100%;
    height: 600px;
    /* border: 1px solid black; */
}
.reg-right > img {
    /* width: 20%; */
    /* height: 500px; */
    margin-top: -80px;
    /* border: 1px solid black; */
}
.reg-right > h1 {
    margin-top: -60px;
    font-size: 20px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
.reg-right > p {
    margin-top: 15px;
    font-size: 12px;
    color: rgb(45, 44, 44);
}
.reg-right > h2 {
    margin-top: 20px;
    font-size: 14px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}
.reg-right1 {
    display: flex;
}
.reg-right1 > div {
    width: 40px;
    height: 40px;
    border: 1px solid black;
    margin-left: 10px;
    margin-top: 15px;
}
.reg-right1 > div > i {
    font-size: 24px;
    padding: 8px;
}
input {
    width: 92%;
    height: 35px;
    margin-top: 15px;
    color: gray;
    font-weight: bold;
    padding-left: 8px;
    font-size: 13px;
}
.reg-right2 {
    margin-top: 10px;
    display: flex;
}
.reg-right2 > input {
    width: 30px;
    height: 30px;
}
.reg-right2 > p {
    margin-left: 10px;
    margin-top: 18px;
    font-size: 11px;
}
.reg-right3 {
    text-decoration-line: underline;
    margin-left: 35px;
    margin-top: 3px;
    font-size: 13px;
}
.reg-right4 {
    margin-top: 10px;
    display: flex;
}
.reg-right4 > input {
    width: 20px;
    height: 18px;
    background-color: white;
    border: 1px solid gray;
    border-radius: 2px;
}
.reg-right4 > p {
    margin-left: 10px;
    margin-top: 18px;
    font-size: 12px;
}
.value1{
    width: 150px;
    height: 40px;
    background-color: blue;
    color: white;
    border: none;
    outline: none;
    text-align: center;
    margin-left: 50px;
}
.value2{
    width: 80px;
    height: 30px;
    background-color: blue;
    color: white;
    border: none;
    outline: none;
    text-align: center;
}
.value3 {
    display: flex;
    justify-content: space-around;
}
.value3 > p {
    font-size: 10px;
    margin-top: 10px;
}
/* .login-right > button > p {
    margin-left: 30px;
    margin-top: 17px;
}
.login-right > button > i {
    margin-left: 20px;
    margin-top: 17px;
} */

select {
    margin: 10px 100px;
}
option {
    background-color: blueviolet;
    color: white;
}